footer {
    margin-top: 2em;
    background-color: #4C81C5;
    padding: 2em;
    padding-bottom: 0;
}
#footer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 15em;
}
#logo{
    display:block;
    width:30%;
    @media(width> 40em){
        width: 20%;
    }
}
#logo > img{
   border-radius: 48%;
   background: none;
   width:100%;

}

.follow-links > img{
    border-radius: 25%;
    width: 40px;
    height: 40px;
    
}
#copyright{
    margin: 0;
}
#sites{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 0.5em;
    height: 100%;
}
#site-title{
    color:#25291C;
    margin: 0;

}
#site-links{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
}
#site-links > div > a{
    list-style-type: none;
    color:white;
}
#follow{
   height: 100%;
   display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0.5em;
    height: 100%;
}
#follow-title{
    margin: 0;
}
#copyright{
    margin-top: 1em;
    text-align: center;
}


