#about-banner {
    
    background-image: url('../img/aboutus.jpg');
    background-color: #ffffff;
    background-size: 100%;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    padding: 1.5rem 5% 0 5%;
    background-position-y: 60%;
    background-size: cover;
    color:black;
}

