
#spotlight{
  color: black;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#spotlight-title{
  margin-top: 1em;
  text-align: center;
}
#spotlight-desc{
  text-align: center;
  
}
.spotlight-desc{
  width: 25vw;

  @media(width < 40em){
    width: 80vw !important;
    
  }
}
.spotlight-scholar{
  border: 5px solid rgba(233, 233, 233, 0.7);
  padding: 10px 5px;
  height: auto;
  width: 90vw;
  
}
.spotlight-main{
  display: flex;
  flex-direction: row;
  
  height: auto;
  justify-content: space-evenly;
  @media(width < 40em){
    flex-direction: column;
    gap: 1em;
    align-items: center;
  }
}
.spotlight-headshot{
  width: 25vw !important;
  border-radius: 50%;
  object-fit: cover;
  aspect-ratio: 1 / 1;
  @media(width < 40em){
    width: 60vw !important;
  }
}

.spotlight-tab-content {
  padding: 10px;
}

.spotlight-tab-content p {
  text-align: left;
}

.spotlight-btn {
  color: white;
  background-color: #0b4a67;
  border: none;
  padding: 10px;
  border-radius: 5px;
}

.spotlight-btn:hover {
  background-color: #0f6b96;
}

.spotlight-brief {
  
  font-size: 18px;
  width:25vw;
  text-align: center;
  @media(width < 40em){
    width: 80vw !important;
    
  }
}


